@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

* {
	font-family: 'Your Desired Font', sans-serif;
	font-size: 20px;
}

.row {
    --column-count: 3;
    width: 75%;
    display: grid;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
    inset: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #A89495;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 340px;
    width: 85%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 2px;
    margin-bottom: 35px;
}

.card:hover .heart {
    top: 10px;
}

.heart {
    z-index: 1;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: all 0.5s;
}

.heart i {
    font-size: 22px;
    color: white;
}

.heart-red {
    color: red !important;
}

.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-div .border {
    width: 100%;
    height: 200px;
}

.top-div img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.top-div span {
    height: 28px;
    width: 30%;
    background-color: #FF4B2B;
    color: #fff;
    position: absolute;
    top: 185px;
    left: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: solid 3px white;
    border-radius: 10px;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bottom-div p {
    font-size: 13px;
    color: #A89495;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.fa-shopping-bag {
    font-size: 25px;
    color: #FF4B2B;
}

.fa-comment-o {
    font-size: 25px;
    color: #FF4B2B;
    margin-left: 10px;
}

.buttons button {
    height: 30px;
    width: 80px;
    color: #FF4B2B;
    border: 2px solid #FF4B2B;
    background-color: #fff;
    font-size: 13px;
    border-radius: 3px;
    transition: all 0.5s;
    border-radius: 10px;
}

.buttons:hover button {
    color: white;
    background-color: #FF4B2B;
}

img {
    border-radius: 10px;
}

.border {
    border-radius: 10px;
    background-color: #FF4B2B;
}

a {
    text-decoration: none;
    color: #FF4B2B;
}

a:hover {
    text-decoration: none;
    color: white;
}

.row .card:nth-child(-n+3) .top-div .border {
    background-color: yellow;
}

body{
    background-color: #FF4B2B;
}

/* .model:contains("audi") ~ .border {
    background-color: blue;
} */


/* .row .card:nth-child(-n+9) .top-div .border {
    background-color: greenyellow;
} */

